*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-sans);
}

#app {
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: var(--color-primary-indigo-dark-2);
}

p,
li {
  color: var(--color-neutral-gray);
}

img,
picture {
  max-width: 100%;
  display: block;
}
