<!DOCTYPE html>
<html>
    <head>
        <title>Product Feedback App</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap"
          rel="stylesheet"
        />
        {% block stylesheets %}
            {{ vite_entry_link_tags('main') }}
        {% endblock %}
    </head>
    <body>
        <div id="app"></div>
        {% block javascripts %}
            {{ vite_entry_script_tags('main') }}
        {% endblock %}
        <script>
            window.user = {{ app.user|serialize('jsonld', {
                'groups': ['user:read']
            })|raw }}

            window.tokens  = {{
                app.user ? app.user.validTokenStrings|json_encode|raw : 'null'
            }}
        </script>
    </body>
</html>
